In [12]:
import sqlite3
import pandas as pd

In [13]:
conn = sqlite3.connect('SDOH.db')
main_table = 'Main'
main_query = f"SELECT * FROM {main_table} WHERE QUESTION_ID = '14208'"

In [14]:
df = pd.read_sql_query(main_query, conn)

In [15]:
df['RESULTS'][1]

'Housing problems (mold, pests, leaks, lead, smoke detectors);Utilities (electric, gas, oil, water);Stress'

In [16]:
column_order = ['ID', 'Food', 'Transportation', 'Internet Access', 'Housing stability',
                'Housing problems (mold, pests, leaks, lead, smoke detectors)', 'Utilities (electric, gas, oil, water)',
                'Finances', 'Employment', 'Education', 'Stress', 'Social Connections', 'Physical Activity']

In [17]:
dummy_columns = df['RESULTS'].str.get_dummies(';')
id_column = df['ID']
assistance_df = pd.concat([id_column, dummy_columns], axis = 1)

In [18]:
set(column_order).symmetric_difference(set(dummy_columns.columns))

{'ID', 'NA', 'No assistance needed'}

In [19]:
column_order.extend(['NA', 'No assistance needed'])

In [20]:
assistance_df = assistance_df.reindex(columns = column_order)
assistance_df

,ID,Food,Transportation,Internet Access,Housing stability,"Housing problems (mold, pests, leaks, lead, smoke detectors)","Utilities (electric, gas, oil, water)",Finances,Employment,Education,Stress,Social Connections,Physical Activity,NA,No assistance needed
0,23420,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,42178,0,0,0,0,1,1,0,0,0,1,0,0,0,0
2,42709,1,0,0,1,0,0,1,1,1,0,0,0,0,0
3,133288,0,0,0,0,0,0,0,0,0,1,0,1,0,0
4,9720,0,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4007,171328,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4008,129238,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4009,65350,0,0,0,1,0,0,0,0,1,0,0,0,0,0
4010,196688,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4011,77036,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [10]:
assistance_df.to_sql('RequestForAssistance', conn, if_exists = 'replace', index = False)

4012

In [11]:
conn.commit()
conn.close()